body {
  background: whitesmoke;
  margin: 0;
}

editor {
  display: flex;
  height: 100%;
  width: 100%;
}

editor iframe {
  height: 100%;
  width: 50%
}

editor textarea {
  height: 100%;
  outline: none;
  width: 50%
}
